<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of patients</title>
</head>

<body>


<div>

    <p th:text="'Diagnosis: ' + ${card.getDiagnosis()}"></p>
    <p th:text="'Medicine: ' + ${card.getMedicine()}"></p>
    <p th:text="'Procedures: ' + ${card.getProcedures()}"></p>
    <p th:text="'Operation: ' + ${card.getOperation()}"></p>

</div>

<hr>

<p><a th:href="@{'/update/' + ${card.patientId}}">Edit card for Doctor</a></p>
<p><a th:href="@{'/updateNurse' + ${card.patientId}}">Edit card for Nurse</a></p>


</body>
</html>